<h1>Update your music snippet:</h1>

<%= simple_form_for @snippet, method: "patch" do |f| %>
  <%= f.input :artist %>
  <%= f.input :title %>
  <%= f.input :notes %>
  <%= f.button :submit %>
<% end %>

<%= simple_form_for @snippet, method: :delete do |f| %>
  <%= f.button :submit, "Delete" %>
<% end %>
