<h1>Save a new music snippet:</h1>

<%= form_for @snippet do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br/>
  <%= f.label :artist %>
  <%= f.text_field :artist %><br/>
  <%= f.label :notes %>
  <%= f.text_field :notes %><br/>
  <%= f.hidden_field :user_id, value: current_user.id %><br/>
  <%= f.submit "Save Snippet" %>
<% end %>
