<h3 class="snippet-info">
<%= activity.subject.title %>, by <%= activity.subject.artist %></h3>

<p class="saved-by">
<%= activity.subject_type.underscore.humanize %> <%= activity.status %> by: <%= activity.user.username %></p>

<%= render activity.subject %>
<h3 class="snippet-info"><%= activity.created_at.to_formatted_s %></h3>

<br/><br/><br/>
